.App {
  text-align: center;
}

.App-header {
  background-color: #161616;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #06d0f9;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 30px;
  font-family: 'Courier New', Courier, monospace;
  color: #f28019;
  font-size: 1.1em;
  /* font-weight: bold; */
}
